

body {
  font-family: serif;
}
ul li {
  list-style: none;
}
.flex {
  display: flex;
}
.wrapper {
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
/*******************************/




.card-img-top {
  object-fit: cover;
}
